:root {
    --green: #004F19;
    --white: #fff;
    --hover: #00FF51;
    --main-font-family: 'Oxygen', sans-serif;
    --heading-font-family: 'Audiowide', cursive;
}

/* Element selector styling */
header {
    padding: 40px;
    background-color: var(--green);
}

h1 a {
    font-size: 60px;
    font-family: var(--heading-font-family);
    text-decoration: none;
    color: var(--white);
}

h2 a {
    color: var(--white);
}

li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-family: var(--main-font-family);
    text-decoration: none;
    color: var(--white);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: var(--green);
    text-align: center;
}

footer p {
    color: var(--white);
    font-family: var(--main-font-family);
    font-size: 15px;
    font-weight: bolder;
}

/* Pseudo styling */
a:hover {
    color: var(--hover);
}

/* Class styling */
.navbar-styling {
    margin: 20px;
}

.card-styling {
    margin: 40px;
    width: auto;
    border: 5px solid var(--green);
}

.card-title-styling {
    background-color: var(--green);
    padding: 10px;
    color: var(--white);
    font-family: var(--heading-font-family);
}

.card-title-styling p {
    font-family: var(--main-font-family);
    font-size: 18px;
    margin-bottom: 0;
}

.card-text-styling {
    padding: 10px;
    font-family: var(--main-font-family);
    font-size: 16px;
}